version: 2

updates:
  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: weekly
      day: monday
    reviewers:
      - "fmrsabino"
      - "jpalvarezl"
      - "rmeissner"
    open-pull-requests-limit: 3
