TRANSACTION_SERVICE_URL=https://safe-transaction.staging.gnosisdev.com
SCHEME=http
# Random string (generated with openssl rand -base64 32)
ROCKET_SECRET_KEY=Qt6DPFUU8qO4BKTCQnKAgt9FBBJxIWAYUGyHuruVfpE=
ROCKET_LOG=off
ROCKET_DATABASES={service_cache={url="redis://127.0.0.1:6379"}}
#ROCKET_PORT=8000
#ROCKET_ADDRESS=localhost
WEBHOOK_TOKEN=some_random_token
#Rocket logs are noise-y, this value filters the logs for errors and our perf monitor
#Set to "debug" when developing
RUST_LOG=safe_client_gateway=error,safe_client_gateway::monitoring=info
