# The Base URL of the Safe Config Service (https://github.com/gnosis/safe-config-service)
CONFIG_SERVICE_URI=https://safe-config.gnosis.io

# The port exposed to the host by the nginx image.
NGINX_HOST_PORT=8080

# A directory where the result of executing envsubst is output (default: /etc/nginx/conf.d)
# Used by the nginx docker image in the templating system in order to use the environment variables set
NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx/

# Feature Flags
FEATURE_FLAG_NESTED_DECODING=true
FEATURE_FLAG_BALANCES_RATE_IMPLEMENTATION=false

# Enables the tags feature for Safe Apps
SAFE_APPS_TAGS_FEATURE_ENABLED=false

# Random string (generated with openssl rand -base64 32)
# [string] a 256-bit base64 encoded string (44 characters) to use as the secret key
ROCKET_SECRET_KEY=Qt6DPFUU8qO4BKTCQnKAgt9FBBJxIWAYUGyHuruVfpE=

ROCKET_LOG_LEVEL=normal

# [integer] a port number to listen on
ROCKET_PORT=8000

# [string] an IP address or host the application will listen on
#ROCKET_ADDRESS=localhost
ROCKET_ADDRESS=0.0.0.0

SCHEME=http
WEBHOOK_TOKEN=some_random_token
TRANSACTION_SERVICE_AUTH_TOKEN=some_other_random_token
# Rocket logs are noise-y, this value filters the logs for errors and our perf monitor
# Set to "debug" when developing
# You can select which proportion of the time logs are emited with LOG_THRESHOLD values range [0.0, 1.0]
# Each time we log, we will generate a random (from a uniform distribution) number that we will test against LOG_THRESHOLD
RUST_LOG=safe_client_gateway=error,safe_client_gateway::monitoring=info
LOG_ALL_ERROR_RESPONSES=false
VPC_TRANSACTION_SERVICE_URI=true
CONCURRENT_BALANCE_TOKEN_REQUESTS=5
# LOG_THRESHOLD=0.1

# Time outs for caches (all have defaults in the code)
# The unit of these values is "milliseconds"
# SAFE_INFO_CACHE_DURATION=1000
# ADDRESS_INFO_CACHE_DURATION=1000
# TOKEN_INFO_CACHE_DURATION=1000
# CHAIN_INFO_CACHE_DURATION=1000
# CHAIN_INFO_RESPONSE_CACHE_DURATION=1000
# EXCHANGE_API_CACHE_DURATION=1000
# REQUEST_CACHE_DURATION=1000
# ABOUT_CACHE_DURATION=1000
# BALANCES_REQUEST_CACHE_DURATION=1000
# SAFE_APP_MANIFEST_CACHE_DURATION=1000
# REQS_ERROR_CACHE_DURATION=1000
# OWNERS_FOR_SAFES_CACHE_DURATION=1000
# INDEFINITE_TIMEOUT=1000 # long cache duration of your choice
# SHORT_ERROR_DURATION=1000
# LONG_ERROR_DURATION=1000
# SAFE_APPS_CACHE_DURATION=1000
# TX_QUEUED_CACHE_DURATION=1000

# Http request time outs
# The unit of these values is "milliseconds"
INTERNAL_CLIENT_CONNECT_TIMEOUT=10000
SAFE_APP_INFO_REQUEST_TIMEOUT=10000
CHAIN_INFO_REQUEST_TIMEOUT=15000

# Redis
# REDIS_HOST=localhost
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URI=redis://${REDIS_HOST}:${REDIS_PORT}
# REDIS_SCAN_COUNT=300

# Exchange rate API: https://exchangeratesapi.io/
EXCHANGE_API_BASE_URI=http://api.exchangeratesapi.io/latest
EXCHANGE_API_KEY=your_exchange_rate_api_token
