TRANSACTION_SERVICE_URL=https://safe-transaction.staging.gnosisdev.com
SCHEME=http
# Random string (generated with openssl rand -base64 32)
ROCKET_SECRET_KEY=Qt6DPFUU8qO4BKTCQnKAgt9FBBJxIWAYUGyHuruVfpE=
ROCKET_LOG=normal
ROCKET_DATABASES={service_cache={url="redis://127.0.0.1:6379"}}
WEBHOOK_TOKEN=some_random_token
RUST_LOG=debug